available: [ os-distribution != "alpine" & arch != "riscv64" ]

build: [
  ["dune" "subst"] {dev}
  [
    "dune"
    "build"
    "-p"
    name
    "-j"
    jobs
    "@install"
    "@runtest" {with-test & (arch = "x86_64" | arch = "arm64")}
    "@doc" {with-doc}
  ]
]
