available: [ os-distribution != "alpine" & !(arch = "riscv64" & ocaml-version >= "5.4") ]

build: [
  ["dune" "subst"] {dev}
  [
    "dune"
    "build"
    "-p"
    name
    "-j"
    jobs
    "@install"
    "@runtest" {with-test & opam-version >= "2.1" & (arch = "x86_64" | arch = "arm64")}
    "@doc" {with-doc}
  ]
]
