available: [ os-distribution != "alpine" & arch != "riscv64" ]

build: [
  ["dune" "subst"] {dev}
  [
    "dune"
    "build"
    "-p"
    name
    "-j"
    jobs
    "@install"
    "@published-package-tests" {with-test & arch != "s390x"}
    "@doc" {with-doc}
  ]
]
